src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

	<flow name="businessLogicFlow" doc:id="1ae8c770-cb85-4985-adbd-bd95e41c7be6" >
		
		<salesforce:query doc:name="Query CustomObjects from Salesforce instance A" doc:id="e9bd176e-400b-40ef-a018-7ae8d1b77765" config-ref="Salesforce_Sfdc_configA">
			<salesforce:salesforce-query >SELECT Name, LastModifiedDate, interpreter__c, year__c FROM MusicAlbum__c WHERE year__c &gt; :year</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"year" : 1968
}]]]></salesforce:parameters>
		</salesforce:query>
		<batch:job jobName="migrateCustomObjectsBatch" doc:id="64a18748-28ff-49fc-9459-8847449a3057" >
			<batch:process-records >
				<batch:step name="getCustomObjectInBStep" doc:id="83e36ee1-fa85-41b5-bf45-ef179401157b" >
					<salesforce:query-single doc:name="Query customObject in Salesforce instance B" doc:id="90e78f6b-97b8-4284-adb2-8b65f6ac64a2" config-ref="Salesforce_Sfdc_configB" target="objectInB">
						<salesforce:salesforce-query >SELECT Id FROM MusicAlbum__c WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Enrich payload with ID" doc:id="2d0faf0d-8ffb-4313-9b24-04c84fc7e9f3" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.objectInB]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="createCustomObjectsInBStep" doc:id="25002f0d-fefe-4b2a-b1e2-1518aea7929c" acceptExpression="payload != null">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="00d87943-9e0b-4f3d-a7e9-76d510d43b2d" size="200">
						<ee:transform doc:name="Prepare customObjects for upsert" doc:id="dd0ea23c-ff0a-401a-bcc1-2a099bf71648" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	Id: $.Id,
	Name: $.Name,
	interpreter__c: $.interpreter__c
	// TODO - Here you should remove all custom fields that don't exist in the target system and map the ones that vary in type/format
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log CustomObjects for upsert" doc:id="43dc44f8-086e-415d-a8e4-7311d2bf82ff" message="#['CustomObjects for upsert: ' ++ write(payload,'application/json')]"/>
						<salesforce:upsert type="MusicAlbum__c" doc:name="Upsert CustomObjects in org B" doc:id="0c5c37ab-7d09-49e5-a639-2c39bbeacbf5" config-ref="Salesforce_Sfdc_configB" externalIdFieldName="Id"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<scatter-gather doc:name="Scatter-Gather" doc:id="18973fc2-6815-4898-ba04-56bbb0d9c760" >
					<route >
						<logger level="INFO" doc:name="Log 'Migration process has finished'" doc:id="6ab6e815-91ba-4ac0-b83d-ca0c381c1db7" message="#['Migration process has finished: ' ++ write(payload,'application/json')]"/>
					</route>
					<route >
						<email:send doc:name="Send email with report" doc:id="edd536c6-d432-44f1-aa00-14599dbfa134" config-ref="Email_SMTPS" fromAddress="${mail.from}" subject="${mail.subject}">
							<email:to-addresses >
								<email:to-address value="${mail.to}" />
							</email:to-addresses>
							<email:body contentType="text/plain">
								<email:content ><![CDATA[#["Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]]></email:content>
							</email:body>
						</email:send>
					</route>
				</scatter-gather>
			</batch:on-complete>
		</batch:job>
		
	</flow>
	<flow name="mainFlow" doc:id="7c0a5bef-b3d5-442f-bff3-10d038f69a5e" >
		<flow-ref doc:name="businessLogicFlow" doc:id="91360ede-4d71-44c7-9b64-8ee762e04ea0" name="businessLogicFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
